<h1>Profile</h1>

<p> Please find below details for my profile.</p>

<div>
    <p>
    I had 4+ years of IT industry experience. I am working in cognizant from August,2022. In cognizant, 
    My previous project is website migration from 2008 version  to 2022 version. Current project is support project. In this project we used angular as UI.
    </p>
    <p>
        I am expertise in .NET MVC, .NET Core, SQL, HTML,CSS and Angular.s
    </p>
    <p>
        Previously I worked in Tata Consultancy Services, Their I worked almost 3.7 years. In TCS, I worked in health care domain project.
        Mostly we used .NET MVC, HTML, CSS, JS and SQL data base. 
    </p>
    <p>
        My short term goal is to achieve good knowledge and hands on experience in angular.
        My Long term goal is to be a good web developer.
    </p>
</div>